@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
    overflow-y: auto;
}

.App {
    background: #24303c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
    width: 100%;
    max-width: 900px;
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

form input[type="date"],
form input[type="text"] {
    padding: 10px;
    width: 100%;
    background: #24303c;
    border: 1px solid #1f53c5;
    border-radius: 4px;
    font-size: 18px;
    color: white;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #1f53c5;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.recordatorio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.recordatorio-card {
    background: #24303c;
    border: 1px solid #1f53c5;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    text-align: left;
    height: 150px;
    overflow: hidden;
    color: white;
}

.recordatorio-card span {
    display: block;
    font-weight: bold;
    color: white;
}

.recordatorio-card p {
    margin: 10px 0;
    color: white;
}

.estrella {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gold;
    font-size: 20px;
}

.acciones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.acciones button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.acciones button:hover {
    background: #0056b3;
}

.acciones button:nth-child(1) {
    background: #28a745;
    color: white;
}

.acciones button:nth-child(2) {
    background: #dc3545;
    color: white;
}

@media (max-width: 600px) {
    .form-register {
        margin-top: 20px;
    }
}
