@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
}

body {
    background-image: url('/src/img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    padding: 30px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    background: #041a4c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #000;
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; /* Ajusta el ancho máximo según tu diseño */
    margin-bottom: 20px; /* Espacio entre el formulario y los recordatorios */
    border: 1px solid #f3fefe9a;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

.form-container {
    background: #24303c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #ffffff28;
    width: 100%;
    max-width: 400px; /* Ajustar el ancho máximo del formulario */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

form input[type="date"],
form input[type="text"] {
    padding: 10px;
    width: 100%;
    background: #24303c;
    border: 1px solid #1f53c5;
    border-radius: 4px;
    font-size: 18px;
    color: white;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #1f53c5;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

button.agregar {
    background: #a761b1; 
    color: #000000;
}

button.agregar:hover {
    background: #d2add6; 
    color: #000000;
}

.recordatorios-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin-top: 30px;
    justify-content: center;
}

.recordatorio-card {
    background: #041a4c;
    border: 1px solid #f3fefe9a;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    text-align: left;
    overflow: hidden;
    color: white;
    word-wrap: break-word;
    box-shadow: 1px 1px 8px #000;
}

.recordatorio-card.double-column {
    grid-column: span 2;
}

.estrella {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(255, 217, 0);
    font-size: 20px;
}

.acciones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.acciones button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.acciones button:hover {
    background: #0056b3;
}

.acciones button:nth-child(1) {
    background: #0048ff47;
    color: white;
}


.acciones button:nth-child(1):hover {
    background: #00000047;
    color: white;
}


.acciones button:nth-child(2) {
    background: #d96eb2;
    color: rgb(0, 0, 0);
}

.acciones button:nth-child(2):hover {
    background: #ecfaff;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1024px) {
    .recordatorios-container {
        grid-template-columns: repeat(2, 1fr);
    }
}